@page "/addpage"

@using GestionStockGarage.Models

<h1>Ajout d'un article</h1>

<EditForm OnValidSubmit="@OnSubmit" Model="piece">
    <div class="form-row">
        <div class="form-group col">
            <label>Référence</label>
            <InputText @bind-Value="piece.Reference" class="form-control"/>
        </div>
    </div>
</EditForm>

@code {
    private Piece piece;
    private List<Piece> pieces = new List<Piece>();
    protected override Task OnInitializedAsync()
    {
        piece = new();
        return base.OnInitializedAsync();
    }


    private void OnSubmit()
    {

    }

}
