@page "/"

@using System.Text.Json
@using System.IO

@inject GestionStockGarage.Repository.IStockRepository stock

<h1>Visualisation du Stock</h1>
<br />
    <label>Recherche</label>
<input  @oninput="Rechercher" />

<br />
<table class="table">
    <tr>
        <th>Référence</th>
        <th>Designation</th>
        <th>Empl</th>
        <th>Qté</th>
    </tr>


    @if (piecesTriees != null)
    {
        @foreach (var piece in piecesTriees)
        {
            <tr>
                <td>@piece.Reference</td>
                <td>@piece.Designation</td>
                <td>@piece.Emplacement</td>
                <td>@piece.QuantiteStock</td>
            </tr>
        }

    }

</table>



@code {
    private List<Piece> pieces;
    private List<Piece> piecesTriees;
    private string champRecherche = "";


    protected override Task OnInitializedAsync()
    {
        pieces = new();

        pieces = stock.GetPieces();

        piecesTriees = pieces;
        

        return base.OnInitializedAsync();

    }

    private void Rechercher(ChangeEventArgs args)
    {

        string value = (string)args.Value;

        if (value == "")
        {
            piecesTriees = pieces;
        }
        else
        {
            piecesTriees = pieces.Where(p => p.Reference.Contains(value)).ToList();
        }
    }

    private void RechercherValue()
    {

    }
}
