@page "/parameterPage"

@using System.IO
@using System.Text.Json
@using System.Globalization 
@inject GestionStockGarage.Repository.IStockRepository stock

<h3>Parametrage</h3>
<div class="container px-4">
    <div class="row px-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <InputFile id="filePicker" OnChange="ViewFile" />
            </div>
            <div>@resultat</div>
        </div>
    </div>
</div>
@code {
    private string nomFichier = " ";
    private List<Piece> inventaire = new();
    private string resultat = "";

    private async Task ViewFile(InputFileChangeEventArgs e)
    {
        resultat = "En cours de chargement";

        using (var streamReader = new StreamReader(e.File.OpenReadStream()))
        {
            string lineInventaire;

            //entete
            lineInventaire = await streamReader.ReadLineAsync();
            while ((lineInventaire = await streamReader.ReadLineAsync()) != null)
            {
                Piece piece = new();
                var item = lineInventaire.Split(';');
                piece.Designation = item[0];

                piece.Reference = item[2];
                int qntStock;
                if(int.TryParse(item[3],out qntStock))
                    piece.QuantiteStock = qntStock;

                decimal prix;
                NumberStyles style;
                style = NumberStyles.AllowDecimalPoint | NumberStyles.AllowThousands;
                if (decimal.TryParse(item[4],style ,new CultureInfo("fr-FR"),out prix))
                    piece.PrixUnitaire = prix;
                piece.Emplacement = item[5];
                inventaire.Add(piece);
            }

        }

        //creation du fichier json.
        stock.InitStock(inventaire);


        resultat   = "Chargement terminé";
    }
}
